.App {
  text-align: center;
}

.container {
  width: 90%
}

.menu {
  margin-bottom: 1rem;
}

p.Listing {
  font-weight: bold;
}

.Observation {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.message {
  color: red;
  font-weight: bold;
}

.sortButton {
  margin-right: 5px;
}

.sorting {
  margin-bottom: 1rem;
}

.formLabel {
  font-weight: bold
}


